@model MyportfolioProject.Models.Tbl_Experiences
@{
    ViewBag.Title = "UpdateExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Deneyim Güncelleme Sayfası</h2>
<br />
<br />

<form method="post">
    <input type="hidden" name="Experienceld" value="@Model.Experienceld" />

    <label>Başlangıç Yılı</label>
    <input type="text" name="StartYear" value="@Model.StartYear" class="form-control" />
    <br />

    <label>Bitiş Yılı</label>
    <input type="text" name="EndYear" value="@Model.EndYear" class="form-control" />
    <br />

    <label>Ünvan</label>
    <input type="text" name="Title" value="@Model.Title" class="form-control" />
    <br />

    <label>Açıklama</label>
    <input type="text" name="Description" value="@Model.Description" class="form-control" />
    <br />

    <label>Şirket</label>
    <input type="text" name="Company" value="@Model.Company" class="form-control" />
    <br />

    <label>Konum</label>
    <input type="text" name="Locations" value="@Model.Locations" class="form-control" />
    <br />


    <button class="btn btn-outline-info">Güncelle</button>





</form>

